[alias]
	c = commit -am
	pl = pull
	pre = pull --rebase
	p = push -u
	s = status -s -b
	df = diff --color --color-words --abbrev
	ds = diff --stat
	dc = diff --cached
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgg = log --all --decorate --oneline --graph
	us = submodule foreach git pull origin master
	ch = checkout
	m = checkout master
	mm = merge master
	rem = rebase master
	ri = rebase -i master
	rc = rebase --continue
	ra = rebase --abort
[color]
	ui = always
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	log = true
[push]
	default = current
[user]
	name = Jan Panschab
	email = jan.panschab@gmail.com
